* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Grover Heavy", sans-serif;
}

body {
  position: relative;
}

#header {
  background-color: beige;
  padding: 45px;
  text-align: center;
  font-size: 55px;
  color: orange;
  text-shadow: 3px 3px 2px rgb(64, 132, 61);
}

#caption {
  padding: 12px;
  font-size: 20px;
  color: rgb(130, 128, 128);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

#start-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start-button {
  width: 250px;
  height:100px;
  background-color: white;
  border: 6px solid orange;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  color: rgb(126, 126, 126);
  text-align:center;
  font-size: 30px;
  cursor: pointer;
}

#container {
  position: relative;
  background-color: beige;
  height: 70vh;
}

#game {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  width: auto;
}

.card-container {
  float: left;
  position: relative;
  border-radius: 10px;
  background-color: white;
  border: 3px solid rgb(92, 98, 94);
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
  width: 9vw;
  height: 26vh;
  margin: 6px;
  cursor: pointer;
}

#popup {
  background-color: rgb(255, 226, 180);
  border: 3px solid rgb(92, 98, 94);
  box-shadow: 0 0 10px rgb(122, 122, 122);
  border-radius: 10px;
  width: 35%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fin {
  position: relative;
  text-align: center;
  font-size: 40px;
  color: rgb(100, 100, 100);
  top: 20%;

}

#restart {
  position: relative;
  text-align: center;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px 20px;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  font-family: 'GT Maru', sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
}
